@use "./variables";

.inputGroupTitle {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 1em;
  text-transform: uppercase;
}

.whiteBox {
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 0 3px 1px variables.$box-shadow;
}
