@mixin resetBtn {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

@mixin resetInput {
  border: none;
  outline: none;
  font-size: 16px;
}

@mixin flexCenter($direction: row) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
}
