$secondary: #eaebec;

$blue: #74bdf6;
$dark-blue: #2196f3;

$gray-main: #e2e4e4;
$gray-light: #f4f6f7;

$hover-blue-box: #f2fcff;
$hover-blue: #f1fcff;

$button: #ff6d00;
$button-hover: #ff8124;

$box-shadow: #dfe8ee;
