@use "shared/styles/mixins";
@use "shared/styles/components";

header {
  margin-block: 50px;
}

main {
  @include mixins.flexCenter();
  align-items: flex-start;
}

aside {
  padding: 1em;
  margin-right: 30px;
}
